# This is an environment variable example file. Copy it to create a .env file for use.
SKIP_PREFLIGHT_CHECK=true
PORT=3000

# Last.fm API key for album thumbnail feature
REACT_APP_LASTFM_API_KEY=your_api_key_here 